@font-face {
  font-family: 'DAT_m_iconfont';
  src:  url('../fonts/DAT_m_iconfont.eot?7cxt51');
  src:  url('../fonts/DAT_m_iconfont.eot?7cxt51#iefix') format('embedded-opentype'),
    url('../fonts/DAT_m_iconfont.ttf?7cxt51') format('truetype'),
    url('../fonts/DAT_m_iconfont.woff?7cxt51') format('woff'),
    url('../fonts/DAT_m_iconfont.svg?7cxt51#DAT_m_iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DAT_m_iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_arrow1_down:before {
  content: "\e900";
}
.icon_arrow1_up:before {
  content: "\e901";
}
.icon_arrow1_left:before {
  content: "\e902";
}
.icon_arrow1_right:before {
  content: "\e903";
}
.icon_arrow2_up:before {
  content: "\e904";
}
.icon_arrow2_down:before {
  content: "\e905";
}
.icon_arrow2_left:before {
  content: "\e906";
}
.icon_arrow2_right:before {
  content: "\e907";
}
.icon_arrow3_open:before {
  content: "\e908";
}
.icon_arrow3_close:before {
  content: "\e909";
}
.icon_history:before {
  content: "\e90a";
}
.icon_search:before {
  content: "\e90b";
}
.icon_position:before {
  content: "\e90c";
}
.icon_help:before {
  content: "\e90d";
}
.icon_time:before {
  content: "\e90e";
}
.icon_delete:before {
  content: "\e90f";
}
.icon_back:before {
  content: "\e910";
}
.icon_tips:before {
  content: "\e911";
}
.icon_close:before {
  content: "\e912";
}
.icon_sunsmile:before {
  content: "\e913";
}
.icon_image:before {
  content: "\e914";
}
.icon_edit:before {
  content: "\e915";
}
.icon_location:before {
  content: "\e916";
}
.icon_chart:before {
  content: "\e917";
}
.icon_arrow4_direction:before {
  content: "\e918";
}
.icon_checkbox_on:before {
  content: "\e919";
}
.icon_checkbox_off:before {
  content: "\e91a";
}
.icon_more:before {
  content: "\e91b";
}
.icon_adjust:before {
  content: "\e91c";
}
.icon_draw:before {
  content: "\e91d";
}
.icon_home:before {
  content: "\e91e";
}
